<a href="https://colab.research.google.com/github/wongwara/AT1-ML_cancer/blob/main/MLAA_Lab_2_Exercise_3_Solutions_MLR_Regularisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 2: Data Splitting**

## Exercise 2: Multivariate Linear Regression & Regularisation

You will now work on a new dataset called "Auto MPG" from the UCI Machine Learning Repository: https://archive.ics.uci.edu/ml/datasets/Auto+MPG

You will loading the dataset from this link: 
https://github.com/aso-uts/mlaa/tree/main/datasets/lab2/ex3

This dataset contains the fuel consumption in miles per gallon ("mpg") of 398 cars. Your goal is to build a Multivariate Linear Regression model with regularisation to predict the mpg.

The steps are:

1.   Load Dataset
2.   Train Lasso Model with all Features
3.   Train Ridge Model with all Features
4.   Train Elastinet Model with all Features

### 1. Load and Prepare Dataset

**[1.1]** Import the pandas and numpy packages

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
import pandas as pd
import numpy as np

**[1.2]** Create 4 variables containing the link to the CSV files

In [ ]:
X_train_url = 'https://raw.githubusercontent.com/aso-uts/mlaa/main/datasets/lab2/ex3/X_train.csv'
X_test_url = 'https://raw.githubusercontent.com/aso-uts/mlaa/main/datasets/lab2/ex3/X_test.csv'
y_train_url = 'https://raw.githubusercontent.com/aso-uts/mlaa/main/datasets/lab2/ex3/y_train.csv'
y_test_url = 'https://raw.githubusercontent.com/aso-uts/mlaa/main/datasets/lab2/ex3/y_test.csv'

**[1.3]** Load the different sets into separate dataframes

In [ ]:
X_train = pd.read_csv(X_train_url, index_col=0)
X_test = pd.read_csv(X_test_url, index_col=0)
y_train = pd.read_csv(y_train_url, index_col=0)
y_test = pd.read_csv(y_test_url, index_col=0)

**[1.4]** Display the first 5 rows of X_train

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
X_train.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_USA,origin_EU,origin_JP
3,8,304.0,150.0,3433,12.0,70,1,0,0
18,4,97.0,88.0,2130,14.5,70,0,0,1
376,4,91.0,68.0,2025,18.2,82,0,0,1
248,4,91.0,60.0,1800,16.4,78,0,0,1
177,4,115.0,95.0,2694,15.0,75,0,1,0

**[1.5]** Display the dimensions of each sets

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(318, 9)
(80, 9)
(318, 1)
(80, 1)

### 2. Train Lasso Model

**[2.1]** Import the Lasso regression module from sklearn

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
from sklearn.linear_model import Lasso

**[2.2]** instantiate the LinearRegression class into a variable called lasso_reg

In [ ]:
# Placeholder for student's code

In [ ]:
lasso_reg = Lasso()

**[2.3]** Task: Fit the model on the training set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
lasso_reg.fit(X_train, y_train)

Lasso()

**[2.4]** Import the MSE and MAE metrics from sklearn

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

**[2.5]** Display the RMSE and MAE scores on the training set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
y_train_preds = lasso_reg.predict(X_train)
print(mse(y_train, y_train_preds, squared=False))
print(mae(y_train, y_train_preds))

3.5222972726026702
2.680594707558376

**[2.6]** Display the RMSE and MAE scores on the testing set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
y_test_preds = lasso_reg.predict(X_test)
print(mse(y_test, y_test_preds, squared=False))
print(mae(y_test, y_test_preds))

3.018608145991618
2.4227519401354085

### 3. Train Ridge Model

**[3.1]** Import the Ridge regression module from sklearn

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
from sklearn.linear_model import Ridge

**[3.2]** Instantiate the Ridge model into a variable called ridge_reg and fit it on the training set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
ridge_reg = Ridge()
ridge_reg.fit(X_train, y_train)

Ridge()

**[3.3]** Print the RMSE and MAE scores for the training set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
y_train_preds = ridge_reg.predict(X_train)
print(mse(y_train, y_train_preds, squared=False))
print(mae(y_train, y_train_preds))

3.37031650816875
2.6051299137680677

**[3.4]** Print the RMSE and MAE scores for the testing set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
y_test_preds = ridge_reg.predict(X_test)
print(mse(y_test, y_test_preds, squared=False))
print(mae(y_test, y_test_preds))

2.8879337925201995
2.288566550216823

### 4. Train Elastinet Model

**[4.1]** Import the ElasticNet module from sklearn

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
from sklearn.linear_model import ElasticNet

**[4.2]** Instantiate the ElasticNet class into a variable called elasticnet_reg and fit it on the training set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
elasticnet_reg = ElasticNet()
elasticnet_reg.fit(X_train, y_train)

ElasticNet()

**[4.3]** Print the RMSE and MAE scores for the training set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
y_train_preds = elasticnet_reg.predict(X_train)
print(mse(y_train, y_train_preds, squared=False))
print(mae(y_train, y_train_preds))

3.519255447413876
2.682374303424249

**[4.4]** Print the RMSE and MAE scores for the testing set

In [ ]:
# Placeholder for student's code

In [ ]:
# Solution
y_test_preds = elasticnet_reg.predict(X_test)
print(mse(y_test, y_test_preds, squared=False))
print(mae(y_test, y_test_preds))

3.0247039198496593
2.4272833353348986